

@media (max-width: 768px) {

  /*=========================== hero ==========================*/
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .hero {
    text-align: center;

    background: linear-gradient(
      180deg,
      #fff 0%,
      #f8f9fa 40%,
      #c7d2fe 75%,
      #899bf8 100%
    );

    margin: 0;
    padding: 0;
  }

  /* ================= NAVBAR ================= */
  .navbar {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
 

  .nav-links,
  .auth-buttons {
    display: none;
  }

  .nav-links.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px; 
  left: 0;
  width: 100%;
  background: #ffffff;
  padding: 20px;
  gap: 16px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.08);
  z-index: 9999;
  }



  .menu-toggle {
    display: block;
    font-size: 22px;
    color: #475569;
  }

  /* ================= BADGE ================= */
  .badge {
    font-size: 12px;
    padding: 6px 14px;
    margin-top: 45px;
    border-radius: 999px;
  }

  /* ================= HEADING ================= */
  .hero h1 {
    width: 370px;
    font-size: 36px;
    line-height: 40px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: -1.4%;
    margin-top: 12px;
    margin-bottom: 16px;
    color: #1e293b;
  }

  /* ================= TEXT ================= */
  .hero p {
    width: 370px;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 28px;
    padding: 0 12px;
    color: #475569;
  }

  /* ================= BUTTONS ================= */
  .hero-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .hero-desktop {
    display: none;
  }

  .hero-mobile {
    display: flex;
    justify-content: center;
  }

  .hero-mobile img {
    width: 100%;
  }
  /*=========================== brand ==========================*/


  .brands-container {
    padding: 15px 20px;
    margin-top: 20px;
  }

  /* Desktop hide */
  .brands-desktop {
    display: none;
  }

  /* Mobile show */
  .brands-mobile {
    display: block;
  }

  /* Row layout */
  .brand-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px 20px;
    justify-items: center;
    align-items: center;
    margin-bottom: 30px;
  }

  /* Logo sizing */
  .brand-row img {
    width: 100%;
    max-width: 96px;
    height: 64px;
    object-fit: contain;
  }

  .last-row {
  display: flex;
  justify-content: flex-start;   
  align-items: center;
  padding-left: 15px; 
  gap: 35px 40px;              
  }

  .last-row img {
  width: 100%;
  max-width: 96px;
  height: 64px;
  }

  /*=========================== features ==========================*/

  .features-grid {
    grid-template-columns: 1fr;
    padding: 0 16px;
    margin-top: 20px;
  }

  .features {
    padding: 40px 0;
  }

  .our-main {
    margin-bottom: 25px;
  }

  .features h2 {
    font-weight: 800;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -1.3%;
    margin-bottom: 20px;
  }

  .section-desc {
    width: 340px;
    font-size: 18px;
  }

  .feature-card {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
  }

  .feature-card img {
    width: 64px;
    height: 64px;
    margin-top: 15px;
  }

  .feature-card h3 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.8%;
    line-height: 20px;
  }

  .feature-card p {
    font-size: 14px;
  }

  /*=========================== stats ==========================*/

 .stats {
    padding: 40px 16px;
    margin-top: 30px;
  }

  .stats-icon img {
  width: 32px;
  height: 32px;
  }

 

  .stat-box {
    padding: 20px 0;
    border-right: none;       
    border-bottom: 1px solid #E2E8F0;
  }

  .stat-box:last-child {
    border-bottom: none;
  }

  .stats h2 {
    font-size: 36px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: -1.4%;
  }

  .stats-desc {
    width: 370px;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 30px;
    padding: 0 10px;
  }

  .stat-box h3 {
    font-size: 36px;
    line-height: 1.2;
  }

 

  .stats-icon img {
    width: 32px;
    height: 32px;
  }


  .stats-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stat-box {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    border-right: none;                
    border-bottom: 1px solid #CBD5E1;  
  }

  .stat-box:last-child {
    border-bottom: none;
  }

 
  /*=========================== procrastinator ==========================*/

 .procrastinator {
  display: flex;
  flex-direction: column;
  padding: 0px 0px;
  margin-top: 60px;
  align-items: flex-start;
  text-align: left;
  }



  .pro-top h2 {
    width: 300px;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -1.3%;
    margin-bottom: 12px;
  }

 

  .section-desc1 {
    font-size: 18px;
    width: 380px;
  }


  .pro-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 0;       
  }



  .pro-item {
  border-left: 3px solid #E2E8F0;
  padding-left: 14px;
  width: 370px;
  }

 .pro-item h4 {
  margin-bottom: -8px;
  }


  .pro-item.active {
  border-left: 3px solid #4F46E5;
  }


  /* IMAGE */
  .pro-right {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  width: 100%;
  }

  .pro-right img {
  width: 100%;
  border-radius: 40px;
  }


  /*=========================== testimonials ==========================*/

  .testimonials {
    padding: 50px 16px;
    text-align: center;
    margin: 0 auto;
    margin-top: 140px;
  }

  .testimonials h2 {
    font-weight: 800;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -1.3%;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .section-desc3 {
    font-size: 16px;
    width: 100%;
    max-width: 350px;
    margin-bottom: 30px;
  }

  .stars img {
    width: 20px;
  }

  .user img {
    width: 40px;
    height: 40px;
  }

  .user strong {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.6%;
  }

  .user span {
    font-size: 14px;
  }

  .testimonials-grid {
    column-count: 1; /* 👈 1 column */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonial-card {
    width: 100%;
    max-width: 340px;
    margin: 0 auto 16px;
  }

  .load-more-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 18px;
  }


  /*=========================== office ==========================*/


 .office {
    padding: 40px 16px;
    text-align: left;
  }

  .office-top {
    margin: 0;
    padding: 0 25px;
    max-width: 100%;
  }

  .section-badge4 {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .office h2 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 15px;
  }

  .section-desc5 {
    width: 100%;
    max-width: 350px;
  }

  /* GRID → STACK */
  .office-grid {
    column-count: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  /* CARD DESIGN */
  .office-card {
    padding: 20px;
    border-radius: 16px;
    border: 1px solid #E2E8F0;
    text-align: left;
    width: 100%;
    max-width: 350px;
    margin-top: 10px;
  }

  .office-card img {
    
  }

  /* TITLE */
  .office-card h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 6px;
    color: #1E293B;
  }

  /* TEXT */
  .office-card p {
    font-size: 14px;
    line-height: 1.6;
    color: #475569;
  }
  }



  /*=========================== faq ==========================*/

  .faq {
    padding: 50px 16px;
  }

  .section-desc6 {
    width: 100%;
    font-size: 16px;
  }

   .faq h2 {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -1.3%;

  }

  .faq-container {
    padding: 0;
  }

  .faq-question {
    padding: 14px 0;
  }

  .faq-text {
    
  }

  .faq-left i {
    
  }


  /*=========================== cta ==========================*/

  .cta-container {
    flex-direction: column;   /* 👈 stack */
    text-align: center;
    padding: 40px 16px;
  }

  .cta-left {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

  .cta-left h2 {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -1.3%;
  }

  .cta-left p {
    font-weight: 400;
    font-size: 16px;
  }

  .cta-buttons {
    flex-direction: column;   /* 👈 stacked */
    gap: 12px;
    margin-top: 20px;
  }

  .cta-buttons button {
    width: 100%;              /* 👈 full width */
    
  }

  .cta-right {
    justify-content: center;
    margin-top: 30px;
  }

  .cta-right img {
    max-width: 100%;
  }


  /*=========================== footer ==========================*/

  .footer {
    padding: 50px 16px;
  }

  .footer-grid {
    grid-template-columns: repeat(2, 1fr); /* 👈 FIX */
    gap: 20px;
  }

  .footer-grid h4 {
  
  }

  .footer-grid li {
    
  }

   .footer-bottom i {
    position: static;
    transform: none;
  }

}